.loginBar{
    background: slategray;
    padding:0 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
}

.logout{
    display:inline-block;
}

.welcomeText{
    display:inline-block;
    color:white;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.main-header{
    display:block;
}

.editsBar{
    background-color: rgb(200,16,46 );
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
}

.logo{
    display:inline-block;
    height:150px;
    width:300px;
}


/*admin home page text*/
.titleText{
    display:inline-block;
    font-size:50px;
    position:absolute;
    font-family: Arial, Helvetica, sans-serif;
}

.DataReports{
    display:inline-block;
}

.DataUpdate{
    display:inline-block;
}

.DataInsert{
    display:inline-block;

}

.DataDeletion{
    display:inline-block;
}


/*entires in a drop down button*/
.entry{
    display:block;
}



/*Drop Down Container*/
.dropDown {
    position: relative;
    display: inline-block;
}

/*Hover over button will reveal links*/
.dropDown:hover .dropDownContent {
    display:block;
}

/*Hovering over drop down button will change background*/
.dropDown:hover .dropDownBtn{
    background-color:lightgray;
}

.dropDownBtn{
    background-color:transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right:-5px;
    border:none;
}


.dropDownContent{
    display:none; 
    position:absolute;
    background-color: #f1f1f1;
    
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}


.dropDownContent a{
    color: black;
    padding: 5px 16px;
    text-decoration: none;
    display: block;

}

/*Hovering over link will change background*/
.dropDownContent a:hover{
    background-color: #ddd;
    display:inline-block;
}

img {
    max-width: 100%;
    height: auto;
    
}
